<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>

    <title>{% block title %}Bug Tracker{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}{% endblock %}
</head>

<body>

{% include 'layouts/_navbar.html.twig' %}

{% block body %}{% endblock %}

{% if app.environment == "dev" %}
    <script type="text/javascript" src="{{ asset('webpack-dev-server.js', 'webpack') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ asset('main.js', 'webpack') }}"></script>

{% block javascripts %}{% endblock %}

</body>

</html>
