{% extends 'layouts/base.html.twig' %}

{% block title %}Create a New Ticket &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12 col-md-offset-0">

            <h1>Submit New Ticket</h1>
            <p class="lead">Here you can submit your new ticket.</p>

        </div>
    </div>
{% endblock %}
