{% extends 'layouts/base.html.twig' %}

{% block title %}All Tickets &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12 col-md-offset-0">

            <h1>All Tickets</h1>
            <p class="lead">All tickets at this bug tracker.</p>

        </div>
    </div>
{% endblock %}
