<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bug Tracker: New Contact Message</title>
</head>
<body>

<h1>Bug Tracker: New Contact Message</h1>

<table border="1" cellpadding="10" cellspacing="1">
    <tr>
        <td><strong>Name:</strong></td>
        <td>{{ contactMessage.getName() }}</td>
    </tr>

    <tr>
        <td><strong>Email:</strong></td>
        <td>{{ contactMessage.getEmail() }}</td>
    </tr>

    <tr>
        <td><strong>Message:</strong></td>
        <td>{{ contactMessage.getMessage()|nl2br }}</td>
    </tr>
</table>

<p>Bug Tracker</p>

</body>
</html>
